@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Orbitron:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #060124;
  color: white;
}

.container {
  text-align: center;
  padding: 30px;
}

/* Title */
h1 {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  background: linear-gradient(90deg, #8e2de2, #c77dff); /* violet gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Logout */
.logout-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(45deg, #3270f7, #4016ff);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.logout-btn:hover {
  box-shadow: 0 0 20px #2c76ff;
}

/* Mood buttons */
.moods {
  text-align: center;
}

.moods button {
  margin: 10px;
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  color: rgb(15, 15, 15);
  background: linear-gradient(45deg, #00c853, #00ff95);
  transition: 0.3s;
}

.moods button:hover {
  transform: scale(1.15);
  box-shadow: 0 0 20px #00ff95;
}

.moods button.active {
  box-shadow: 0 0 25px #00ff95;
  transform: scale(1.2);
  background: linear-gradient(45deg, #00ff95, #00c853);
}

/* Songs */
.songs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.song {
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  width: 300px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);
  transition: 0.3s;
}

.song:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px #00ff95;
}


.song p {
  font-weight: bold;
  font-size: 18px;
  background: linear-gradient(90deg, #51fff6, #eeeeee); /* grey gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

audio {
  width: 100%;
  margin-top: 10px;
}

/* Login */
.login-container {
  width: 300px;
  margin: 150px auto;
  padding: 30px;
  border-radius: 15px;
  background: rgba(255,255,255,0.05);
  text-align: center;
}

.login-container input {
  width: 90%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.login-container button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(90deg, #8e2de2, #c77dff); /* violet gradient */
  color: rgb(0, 0, 0);
  cursor: pointer;
}

#error {
  color: red;
}